.frame3{
    display: flex;
    /* border: 2px solid purple; */
    height: 100vh;
    padding:5vw;
    padding-left: 10vw;
    margin-top: 0vw;
}

.titleText{
    color: white;
    font-size: 5vw;
    margin-top: 10vw;
    font-family: 'Tahoma';
    text-align: center;
    margin-right: 30vw;
}

.card1{
    /* border: 2px solid blue; */
    box-shadow: 2px 2px 2px 2px rgba(239, 239, 239, 0.1);
    background-color: rgb(28, 28, 28);
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-top: 8vw;
    margin: 1vw;
}

.card2{
    background-color: rgb(41, 41, 41);
    /* border: 2px solid green; */
    height: 400px;
    width: 400px;
    margin: 1vw;
    border-radius: 20px;
    margin-top: 10vw;
}

.card3{
    /* border: 2px solid red; */
    box-shadow: 2px 2px 2px 2px rgba(239, 239, 239, 0.1);
    background-color: rgb(28, 28, 28);
    height: 500px;
    width: 400px;
    border-radius: 20px;
}